bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# DATABASE
*.sqlite
*.sqlite3
*.db

# Environment variables
.env

# User secrets and development settings
**/appsettings.Development.json
**/user-secrets/