# 1. Gere uma chave secreta para o JWT. Você pode usar uma ferramenta online ou um gerador de chaves.

# Depois rode no terminal:
# dotnet user-secrets init
# dotnet user-secrets set "Jwt:SigningKey" "sua_chave_aqui"